// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;

  .logo  img {
    width: 100px;
  }
}

.content {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.quote-content {
  font-family: "Lucida Grande";
}

.quote-by {
  font-weight: bold;
}
